/* src/Leaderboard.css */
body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  background-color: black;
  color: white;
}

.leaderboard-container {
  text-align: center;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  margin-left: 20px;
}

.nav-right {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.main-title {
  font-size: 36px;
  letter-spacing: 5px;
  margin-top: 20px;
}

.boards {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.board {
  border: 2px solid white;
  padding: 20px;
  width: 428px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 390px; 
}

.rank {
  font-size: 14px;
  margin-bottom: auto; 
}

.divider {
  border: none;
  height: 1px;
  background-color: lime; 
  margin: 10px 0; 
}

.team-info {
  margin-top: auto; 
  text-align: left; 
}

.team-info h4 {
  font-size: 10px;
  margin: 5px 0;

}

.team-info p {
  margin: 5px 0;
  text-align: left;
  font-size: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    text-align: left;
    font-size: 9px;
}

.box{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: lime
}

h4{
    color:lime
}