@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}


@font-face {
  font-family: 'Calcio';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Calcio.ttf);
}

@font-face {
  font-family: 'Mondwest';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Mondwest.otf);
}

@font-face {
  font-family: 'NeueBit';
  font-style: bold;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/NeueBit.otf);
}

@font-face {
  font-family: 'Montreal-Book';
  font-style: bold;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Montreal-Book.otf);
}

@font-face {
  font-family: 'Montreal-Medium';
  font-style: bold;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Montreal-Medium.otf);
}

*{
  cursor: url('/cursors/normal.cur'), auto;
}
.pointy{
  cursor: url('/cursors/pointer.cur'), pointer;
}